# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Data and model files
/data/
*.pth
*.pt
*.h5

# TensorBoard logs
runs/
events.out.tfevents.*

# Test outputs
samples/

# VSCode settings
.vscode/

# OS files
.DS_Store
Thumbs.db

# Python virtual environments
env/
venv/
ENV/
.venv/